<html>
    <p-sidebar class="side" [(visible)]="visible" position="left">
        MENU
    </p-sidebar>
    <div class="menu">
        <img class="logo" src="../../../assets/images/jll-logo-positive.png" (click)="visible=true">
        <div class="tittle">
            ADMINISTRAÇÃO
        </div>
        <div class="logout">
            Leonardo
            <a><i class="logoutButton pi pi-sign-out" routerLink='/Login'></i></a>
        </div>
    </div>
    <p-sidebar [(visible)]="visible">
        <h1>Menu</h1>
        <p-panelMenu [model]="items" [style]="{'width':'300px'}">
        </p-panelMenu>
    </p-sidebar>
</html>