.menu{
    margin-left: 0;
    width: 100%;
    height: 70px;
    background-color: #ceccba;
    display: inline-flex;
}

.tittle{    
    // margin-left: 27%;
    font-size: 300%;
    margin-left: 10%;
    width: 80%;
    text-align: center;
    font-family: 'titilum';
    position: absolute;
}

.logout{
    display: inline-flex;
    cursor: pointer;
    margin-top: 2%;
    float: right;
    margin-left: 80%;
}

.logoutButton{
    margin-left: 50%;
}

.logo{
    width: 10%;
    cursor: pointer;
}

.side{
    background-color: #ceccba;
}

.sidebar{
    cursor: pointer;
    margin-top: 2%;
    height: 10px;
}