<html>
    <app-header></app-header>
    <!-- <div class="body"></div> -->
    <div class="center-menu p-grid p-jc-center">
        <div class="p-col-2">
            <a href="ListaDeAcesso"><div class="option">Lista de Acesso<br>
                <i class="pi pi-users"></i>
            </div></a>
        </div>
        <div class="p-col-2">
            <div class="option" href="">Solicitar Cartões<br>
                <i class="pi pi-id-card"></i>
            </div>
        </div>
        <div class="p-col-2">
            <div class="option" href="">Verificar Contratos<br>
                <i class="pi pi-file"></i>
            </div>
        </div>
    </div>
    
    <div class="center-menu p-grid p-jc-center">
        <div class="p-col-2">
            <div class="option" href="">Rgimento Interno<br>
                <i class="pi pi-book"></i>
            </div>
        </div>
        <div class="p-col-2">
            <div class="option" href="">Solicitar Manutenção<br>
                <i class="pi pi-shield"></i>
            </div>
        </div>
        <div class="p-col-2">
            <div class="option" href="">Centro de Convenções<br>
                <i class="pi pi-star"></i>
            </div>
        </div>
    </div>
    
    <div class="center-menu p-grid p-jc-center">
        <div class="p-col-2">
            <div class="option" href="">
            </div>
        </div>
        <div class="p-col-2">
            <div class="option" href="">
            </div>
        </div>
        <div class="p-col-2">
            <div class="option" href="">Chat ADM<br>
                <i class="pi pi-comments"></i>
            </div>
        </div>
    </div>
</html>
