<!-- <app-header></app-header> -->
<div class="panel">
    <img src="../../../assets/images/jll-logo-positive.png" style="width: 50%;cursor: pointer;" routerLink=''>
    <h1 style="font-family: 'titilum';">LOGIN</h1>
    <div class="loginComponent">
        <label for="userName">Username:</label>
        <input class="loginInput" type="text">
    </div>

    <div class="loginComponent">
        <label for="password">Password:</label>
        <input class="loginInput" type="password">
    </div>

    <a class="link loginComponent" href="ResetPassword">
        Esquci minha senha
    </a><br>    
    <a class="link loginComponent" href="">
        Registrar-me
    </a><br>    
    <button class="login" routerLink='/Home'>ENTRAR</button>
</div>