.panel{
    padding: 1%;
    width: 30%;
    margin-top: 10%;
    margin-left: 35%;
    text-align: center;
    background-color: #ceccba;
    border-radius: 15px;
}
.loginComponent{
    margin-top: 3%;
    justify-content: center;
    font-family: 'titilum';
}
.RPInput{
    border-radius: 5px;
    width: 50%;
    height: 20px;
}

.login{
    margin-top: 5%;
    border-radius: 15px;
    width: 35%;
    height: 10%;
}