<form class="panel" id="panel" (submit)="next()">
    <img src="../../../assets/images/jll-logo-positive.png" style="width: 50%;cursor: pointer;" routerLink=''>
    <h1 style="font-family: 'titilum';">RESET PASSWORD</h1>
        DIGITE O SEU NOME DE USUARIO<br>
    <div class="loginComponent">
        <label for="userName" >Username:</label>
        <input id="username" class="RPInput" type="text" placeholder="UserName" [(value)]="user"><br>
        <label id="msg" style="color: brown;" *ngIf="msgVisible">Favor verificar se o username está correto</label>
    </div>
    <button class="login" (click)="next()">Seguinte</button>
</form>

<form class="panel" id="panel2">
    <img src="../../../assets/images/jll-logo-positive.png" style="width: 50%;cursor: pointer;" routerLink=''>
    <h1 style="font-family: 'titilum';">RESET PASSWORD</h1>
        DIGITE O SEU NOME DE USUARIO<br>
    <div class="loginComponent">
        <label for="userName" >Username:</label>
        <input id="username" class="RPInput" type="text" placeholder="UserName" [(value)]="user"><br>
        <label id="msg" style="color: brown;" *ngIf="msgVisible">Favor verificar se o username está correto</label>
    </div>
    <button class="login" (click)="next()">Seguinte</button>    
</form>